$color-darkgray1: #111111;
$color-darkgray2: #1d1d1f;
$color-gray: #888888;
$color-offwhite: #f5f5f7;
$color-offwhite2: #fafafa;
$color-blue1: #007aff;
$color-blue2: #0070c9;

.accordion-main {
  .card {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: #e2e2e2 1px solid;
    padding-bottom: 7px;
    margin-bottom: 7px;
    margin-left: 50px;
    &:last-child {
      margin-bottom: 0;
    }

    .card-header {
      background-color: transparent;
      padding: 0;
      margin-bottom: 0;
      border-bottom: none;
      .btn {
        font-size: 21px;
        color: $color-darkgray1;
        font-weight: 600;
        text-align: left;
        padding: 10px 0;
        margin-left: -50px;
        @media (max-width: 767px) {
          display: flex;
        }
        @media (max-width: 1440px) {
          font-size: 18px;
        }
        @media (max-width: 767px) {
          font-size: 16px;
        }
        span {
          font-weight: 300;
          @media (max-width: 575px) {
            display: block;
            margin-left: 40px;
          }
        }
      }
      .btn-link {
        &:hover,
        &:focus {
          text-decoration: none;
        }
        &:before {
          content: "\f068";
          background-color: $color-blue1;
          font-family: "FontAwesome";
          font-size: 13px;
          color: #fff;
          min-width: 25px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: $color-blue1 2px solid;
          padding-top: 2px;
          margin-right: 20px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          position: relative;
          top: -2px;
          @media (max-width: 767px) {
            font-size: 12px;
          }
        }
        &.collapsed {
          &:before {
            content: "\f067";
            background-color: transparent;
            color: $color-blue1;
          }
        }
      }
    }

    .card-body {
      font-size: 21px;
      color: $color-gray2;
      padding: 0 0 0.8rem 0;
      @media (max-width: 1440px) {
        font-size: 18px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
      }
      .tab-info {
        font-size: 19px;
        border-bottom: #e2e2e2 1px solid;
        padding-bottom: 20px;
        margin-bottom: 25px;
        @media (max-width: 767px) {
          font-size: 18px;
        }
        @media (max-width: 575px) {
          font-size: 16px;
        }
      }
      .opening-list-wrap {
        border-bottom: #e2e2e2 1px solid;
        padding-bottom: 25px;
        margin-bottom: 25px;
        .opening-list-title {
          font-family: "SF Pro Text";
          font-size: 21px;
          margin-bottom: 25px;
          @media (max-width: 767px) {
            font-size: 19px;
          }
          @media (max-width: 575px) {
            font-size: 17px;
          }
        }
        .opening-list {
          padding-left: 10px;
          @media (max-width: 575px) {
            padding-left: 0;
          }
          li {
            font-size: 19px;
            padding-left: 40px;
            margin-bottom: 20px;
            position: relative;
            @media (max-width: 767px) {
              font-size: 18px;
            }
            @media (max-width: 575px) {
              font-size: 16px;
              padding-left: 30px;
              margin-bottom: 15px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            &:before {
              content: "";
              background: url(../images/career/check.png) no-repeat;
              width: 15px;
              height: 15px;
              position: absolute;
              left: 0;
              top: 5px;
            }
          }
        }
      }
    }
  }
}
