.banner {
	&-sec {
        .banner-content {
            &.banner__content--bakery {
                padding-top: 230px;
                padding-bottom: 200px;
                @media (max-width: 1440px) {
                    padding-top: 180px;
                    padding-bottom: 150px;
                }
                @media (max-width: 991px) {
                    padding-top: 100px;
                    padding-bottom: 80px;
                }
                @media (max-width: 767px) {
                    padding-top: 230px;
                    padding-bottom: 50px;
				}
				
				.banner-inner-subtitle {
					font-size: 30px;
					line-height: 38px;
					@media (max-width: 1440px) {
						font-size: 24px;
						line-height: 32px;
					}
					@media (max-width: 1199px) {
						font-size: 20px;
						line-height: 28px;
					}
					@media (max-width: 767px) {
						font-size: 16px;
						line-height: 20px;
					}
					@media (max-width: 360px) {
						font-size: 15px;
					}
				}
            }
        }
		
		&.banner__img--bakery {
			overflow: hidden;
			&:before{
				content: '';
				background: url(quick_link/bakery/bakery_banner.jpg) no-repeat;
				background-size: 100%;
				width: 740px;
				height: 600px;
				position: absolute;
				top: 180px;
				right: 120px;
				@media (max-width: 1800px) {
					width: 600px;
					height: 480px;
					right: 50px;
				}
				@media (max-width:1440px) {
					width: 550px;
					height: 440px;
					top: 120px;
					right: 40px;
				}
				@media (max-width: 1199px) {
					width: 480px;
					height: 400px;
					top: 160px;
					right: 0;
				}
				@media (max-width: 991px) {
					width: 380px;
					height: 320px;
					top: 140px;
					right: 0;
				}
				@media (max-width: 767px) {
					width: 280px;
                    height: 220px;
					left: 50%;
					top: 50px;
					right: auto;
					transform: translateX(-50%);
				}
			}
		}
	}
}
