.banner {
	&-sec {
        .banner-content {
            &.banner__content--employeeMGT {
                padding-top: 190px;
                padding-bottom: 150px;
                @media (max-width: 1800px) {
                    padding-top: 170px;
                    padding-bottom: 100px;
                }
                @media (max-width:1280px) {
					
				}
				@media (max-width: 1199px) {
					padding-top: 120px;
                    padding-bottom: 50px;
				}
				@media (max-width: 991px) {
					padding-top: 80px;
                    padding-bottom: 40px
				}
                @media (max-width: 767px) {
                    padding-top: 250px;
                    padding-bottom: 50px;
                }
                
                .banner-sub-title{
                    font-family: 'SF Pro Display';
                    font-size: 34px;
                    line-height: 38px;
                    @media (max-width: 1199px) {
                      font-size: 30px;
                    }
					@media (max-width: 991px) {
						font-size: 24px;
						line-height: 22px;
					}
					@media (max-width: 767px) {
						font-size: 22px;
					}
                }

                .banner-sub-title-24{
                    font-size: 24px;
					line-height: 30px;
					@media (max-width: 991px) {
						font-size: 20px;
						line-height: 22px;
					}
					@media (max-width: 767px) {
						font-size: 18px;
					}
                }
            }
        }
		
		&.banner__img--employeeMGT {
			overflow: hidden;
			&:before{
				content: '';
				background: { image: asset-url("/assets/features/employee_management/employeemgt_banner.png"); }
				background-size: 100%;
				background-repeat: no-repeat;
				width: 1041px;
				height: 799px;
				position: absolute;
				right: -55px;
				bottom: -130px;
				@media (max-width: 1800px) {
					width: 850px;
                    height: 670px;
                    right: -50px;
                    bottom: -110px;
				}
				@media (max-width: 1440px) {
                    width: 800px;
				}
				@media (max-width:1280px) {
					right: -100px;
				}
				@media (max-width: 1199px) {
					width: 690px;
                    height: 580px;
                    right: -110px;
                    bottom: -110px;
				}
				@media (max-width: 991px) {
					width: 490px;
                    height: 450px;
                    right: -60px;
                    bottom: -110px;
				}
				@media (max-width: 767px) {
					width: 260px;
                    height: 210px;
					left: 50%;
					top: 70px;
					right: auto;
					bottom: auto;
					transform: translateX(-50%);
				}
			}
		}
	}
}

.employee-management-sec{
    .book-demo-box{
        height: 100%;
        .book-demo-img {
            height: 80px;
            @media (max-width: 767px) {
                height: 60px;    
            }
        }
        .sub-title{
            font-size: 22px;
            line-height: 28px;
            @media (max-width: 1440px) {
                font-size: 20px;
                line-height: 24px;
            }
            @media (max-width: 991px) {
                font-size: 16px;
                line-height: 24px;
            }
            // @media (max-width: 767px) {
            //     font-size: 17px;
            //     line-height: 24px;
            // }
        }
    }
}
