// .header-sec {
// 	.logo-area {
// 		height: 28px;
// 	}
// 	.navbar-nav {
// 		@media (max-width:767px) {
// 			border-top: rgba(255,255,255,0.20) 1px solid;
// 			margin-top: 8px;
// 		}
// 	}
// 	.nav-item {
// 		margin-right: 75px;
// 		&:last-child {
// 			margin-right: 0;
// 		}
// 		@media (max-width:1199px) {
// 			margin-right: 50px;
// 		}
// 		@media (max-width:991px) {
// 			margin-right: 20px;
// 		}
// 		@media (max-width:768px) {
// 			margin-right: 1.75rem;
// 		}
// 		@media (max-width:767px) {
// 			padding-bottom: 0.5rem;
// 			padding-top: 0.5rem;
// 			margin-left: 1rem;
// 			margin-right: 1rem;
// 			border-bottom: rgba(255,255,255,0.20) 1px solid;
// 			&:nth-last-child(2) {
// 				border-bottom: unset;
// 			}
// 		}

// 		&.nav__bag--desktop {
// 			@media (max-width:767px) {
// 				display: none;
// 			}
// 		}
// 	}
// 	.nav-link {
// 		font-size: 14px;
// 		color: rgba(245,245,247,1);
// 		font-weight: 300;
// 		padding: 0;
// 	}
// 	.navbar-nav {
// 		.nav-link {
// 			padding: 0;
// 			&:hover, &:focus {
// 				color: rgba(245,245,247,0.50);
// 			}
// 		}
// 	}
// 	.navbar-nav {
// 		.active>.nav-link {
// 			color: rgba(245,245,247,0.50);
// 		}
// 	}
// 	.nav__bag--mobile{
// 		display: none;
// 		@media (max-width:767px) {
// 			display: inline-block;
// 			padding: 0.3rem;	
// 		}
// 	}
// 	.navbar-toggler {
// 		.sr-only{
// 			position: absolute;
// 			width: 1px;
// 			height: 1px;
// 			padding: 0;
// 			margin: -1px;
// 			overflow: hidden;
// 			clip: rect(0,0,0,0);
// 			border: 0;
// 		}

// 		.icon-bar {
// 			background-color: #fff;
// 			display: block;
// 			width: 24px;
// 			height: 1px;
// 			border-radius: 1px;
// 		}

// 		.icon-bar+.icon-bar {
// 			margin-top: 6px;
// 		}
// 	}

// 	.offer-nav {
// 		.nav-link {
// 			background-color: $color-blue1;
// 			color: #fff;
// 			padding: 5px 14px;
// 			border-radius: 50px;
// 			&:hover {
// 				color: #fff;
// 			}
// 		}
// 	}

// 	.dropdown-toggle {
// 		&::after{
// 			display: none;
// 		}
// 	}
// 	.dropdown-menu {
// 		min-width: 220px;
// 	    margin: 0.8rem 0 0;
// 	    border: #d2d2d7 1px solid;
// 	    border-radius: 18px;
// 	    transform: translateX(-50%);
// 	    padding: 30px 20px 5px 20px;
// 	    @media (max-width:767px) {
// 	    	left: auto;
// 	    	right: 0;
// 	    	transform: none;
// 	    	margin: 0.5rem 0 0;
// 	    }
// 	    &::after {
// 			content: "";
// 		    display: inline-block;
// 		    margin-left: .555em;
// 		    vertical-align: .255em;
// 		    border-top: 0;
// 		    border-right: .3em solid transparent;
// 		    border-bottom: #fff .3em solid;
// 		    border-left: .3em solid transparent;
// 		    position: absolute;
// 		    left: 50%;
// 		    top: -6px;
// 		    transform: translateX(-50%);
// 		    @media (max-width:767px) {
// 		    	left: auto;
// 		    	right: 15px;
// 			    transform: none;
// 		    }
// 		}
// 		.bag {
// 		    background-image: url(../images/homepage/dropdown/bag.svg);
// 		    background-position: -3px 8px;
// 		    background-repeat: no-repeat;
// 		    background-size: 23px 23px;
// 		}
// 		.orders {
// 		    background-image: url(../images/homepage/dropdown/orders.svg);
// 		    background-position: -3px 8px;
// 		    background-repeat: no-repeat;
// 		    background-size: 23px 23px;
// 		}
// 		.account {
// 		    background-image: url(../images/homepage/dropdown/account.svg);
// 		    background-position: -3px 8px;
// 		    background-repeat: no-repeat;
// 		    background-size: 23px 23px;
// 		}
// 		.signin {
// 		    background-image: url(../images/homepage/dropdown/signIn.svg);
// 		    background-position: -3px 8px;
// 		    background-repeat: no-repeat;
// 		    background-size: 23px 23px;
// 		}
// 	}
// 	.dropdown-item {
// 		font-size: 14px;
// 	    padding: .6rem 1.5rem;
// 	    color: #06c;
// 	    border-top: #d2d2d7 1px solid;
// 	    position: relative;
// 	    &:hover, &:focus {
// 	    	background-color: transparent;
// 		    color: #06c;
// 		    text-decoration: underline;
// 	    }
// 	}
// }

.header-sec {
    	.logo-area {
            max-width: 54px;
            height: 28px;
        }
        .navbar-nav {
            & .nav-item{
				@include respondMax(md-tab){
					border-top: rgba(255,255,255,0.20) 1px solid;
					width: 100%;
				}
                &.active{
                    & .nav-link{
                        color: $color-offwhite-active !important;
                    }
                }
                & .nav-link:not(.bg-blue3){
                    &:hover{
                        color: $color-offwhite-active !important;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
        	.nav__bag--mobile{
		display: none;
		@media (max-width:767px) {
			display: inline-block;
			padding: 0.3rem;	
		}
	}
	.navbar-toggler {
		.sr-only{
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: 0;
		}

		.icon-bar {
			background-color: #fff;
			display: block;
			width: 24px;
			height: 1px;
			border-radius: 1px;
		}

		.icon-bar+.icon-bar {
			margin-top: 6px;
		}
	}
}

